{% extends "base.html"%}
{% block title %}Login Form{% endblock %}
{% block content %}
<div class="position-absolute bottom-30 start-50 translate-middle m-5 text-success">
  <h1>Login Area</h1>
</div>
<div class="position-absolute top-30">
<form action="" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" class="form-control" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" name="pswrd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages%}
    {% for msg in messages %}
      <p class="text-danger position-absolute bottom-50 end-50">{{msg}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
