{% extends "base.html"%}
{% block title %}Login Form{% endblock %}
{% block content %}
<form>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" class="form-control" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" name="pswrd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}